
@{
    ViewBag.Title = "Navigator - Bluelight Games";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div class="jumbotron">
        <h1>Navigator</h1>
    </div>
    <div class="container">
        <p>Navigator is BlueLight's first game, with an anticipated release date of April 2019.</p>
        <p>What is a princess to do in an ever-scrolling world full of danger? Run, of course! 
        Princess Nellie wandered too far from her tour bus visiting planet Midnight, and has found
        herself lost in a nightmarish ever-changing maze of monsters and obstacles. Nellie must 
        find her way back to the palace in one piece!</p>
        <p>To play Navigator, direct Nellie where to go with your cursor and press the space bar to jump.
        Pick up a variety of buffs to help along the journey, such as a shield to absorb damage, cake to
        recover health points, a make-small potion to help navigate the dangerous terrain, and more.</p>
    </div>
</body>
</html>