@{
    ViewBag.Title = "About Bluelight";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="jumbotron">
    <h1>The BlueLight Team</h1>
</div>

<div class="container">
    <h3>Michelle Taylor</h3>
    <p>Michelle is the founder of BlueLight Games. She attended DMACC where she received her Business Information Systems
    degree with an object-oriented concentration. She enjoys knitting, playing video games, and spending time with her 
    boyfriend, Paul, and elderly cat, Bruce.</p>
</div>

</body>
</html>
